div(
    class="site-nav2 button-primary"
)   
    div(class="close-button-div")
        button(class='button-primary-oulined close-nav') x
   
    h3(class="cart-header") Coș
    div(id="cart-nav")
    div(class='text-right')
        a(
            href="/order"
            target="_blank"
        ) 
            button(class="") Comanda