include header
div(class='wrap')
  div(class='content')
    header(class='site-header')
      include site_header
       
     
//-     div(class='container')
//-       div(class='row')
//-         div(class='col col-md-12')
//- #carouselExampleIndicators.carousel.slide(data-ride='carousel')
//-   ol.carousel-indicators
//-     li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
//-     li(data-target='#carouselExampleIndicators' data-slide-to='1')
//-     li(data-target='#carouselExampleIndicators' data-slide-to='2')
//-   .carousel-inner
//-     .carousel-item.active
//-       img.d-block.w-100(src='images/ban.jpg' alt='First slide')
//-     .carousel-item
//-       img.d-block.w-100(src='images/ban1.jpg' alt='Second slide')
//-     .carousel-item
//-       img.d-block.w-100(src='images/ban2.jpg' alt='Third slide')
//-   a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
//-     span.carousel-control-prev-icon(aria-hidden='true')
//-     span.sr-only Previous
//-   a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
//-     span.carousel-control-next-icon(aria-hidden='true')
//-     span.sr-only Next

//- script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
//- script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
//- script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
//- script(src='vendor/jquery/jquery.min.js')
//- script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
  

include carusel2
include nav
