div(class='container full-width')
  div(class='row')
    div(class='col col-lg-1 col-md-1')
      button(class="show-nav2") <i class="fas fa-shopping-cart">
       a(
            href="/order"
            target="_blank"
        )
           </i>
   
