div(class='text')
    p «Zub Dental» - un magazin online de materiale dentare și stomatologice, echipamente și unelte.
    p Compania noastra este dealerul oficial al celor mai importanti producatori de produse medicale. Datorită acestui lucru în magazin avem prețuri accesibile și asigurarea calității pentru toate produsele.
    p «Zub Dental» - este o sursă profesională de instrumente dentare și echipamente, materiale pentru tehnicieni dentari si saloane de frumusete, instrumente chirurgicale si consumabile pentru medicina generala.
    p Puteți alege bunurile de care aveți nevoie din gama noastră largă, plasați rapid și confortabil comanda, alegeți o metodă convenabilă de livrare și de plată. Pentru clienții săi, magazinul dezvoltă programe de loialitate unice: oferte speciale, reduceri și promoții, cadouri.
    p Toate bunurile vândute sunt certificate, au Declarație de Conformitate și sunt de asemenea prevăzute cu o garanție de proprietate a companiilor de producție.
    p Valorim clienții noștri și încercăm să le oferim cele mai bune condiții de cooperare!


div(class='harta')
    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1360.9926591768738!2d28.83745077183231!3d46.981622996313874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97ec93fbccfa1%3A0x8d94e84ca8787de1!2scasele%20viitorului*21%20kager.md%3A%20Case%20de%20lux%20KAGER%20de%20tip%20fachwerk%20din%20lemn%20si%20sticla.%20Montarea%20caselor%20si%20vilelor%20prefabricate%20KAGER%20din%20sticla.%20KAGER!5e0!3m2!1sro!2s!4v1583141885784!5m2!1sro!2s' width='100%' height='450' frameborder='0' style='border:0;' allowfullscreen='')
    